<div class="container form">
	<h1>Edycja projektu</h1>

	<%= render 'form', project: @project, button: "Edytuj" %>
	<hr>
	<%= link_to 'Szczegóły', @project, class: "btn btn-primary" %> |
	<%= link_to 'Powrót', projects_path, class: "btn btn-primary" %>
</div>
