<h1>Projekty</h1>


<h2>Moje projekty</h2>
<%= link_to 'Dodaj nowy projekt', new_project_path, class: "btn btn-primary" %>
<%= render 'index', projects: @projects %>

<h2>Przypisane</h2>
<%= render 'index', projects: @projects_invited %>

<br>

