@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
	border-radius: 0;
	margin-bottom: 0;
}

.alert{
	border-radius: 0;
}

.sign-in,
.sign-up,
.form{
	width: 500px;
}

.actions{
	text-align: right;
}

.main-container{
	width: 80%;
}

.btn-join{
	margin-bottom: 20px;
}